<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt">

	<!-- MongoDB hedefi tanımlama -->
	<extensions>
		<add assembly="NLog.Mongo" />
	</extensions>

	<targets>
		<!-- MongoDB hedefi -->
		<target name="mongodb" xsi:type="Mongo"
				connectionString="mongodb://localhost:27017"
				collectionName="logs"
				databaseName="mongo-log">
			<field name="level" layout="${level}" />
			<field name="message" layout="${message}" />
			<field name="exception" layout="${exception:format=tostring}" />
			<field name="timestamp" layout="${longdate}" />
			<field name="ipAddress" layout="${event-properties:item=ipAddress}" />
			<field name="userId" layout="${event-properties:item=userId}" />
			<field name="requestType" layout="${event-properties:item=requestType}" />
			<field name="endpoint" layout="${event-properties:item=endpoint}" />
			<field name="time" layout="${event-properties:item=time}" />
		</target>
	</targets>

	<rules>
		<!-- Tüm log seviyelerini MongoDB'ye yaz -->
		<logger name="*" minlevel="Info" writeTo="mongodb" />
	</rules>
</nlog>
